<nav class="category__list" style="margin-top: 0;">
  <ul class="category__items">
    <li>
      <span class="category__sub-title">Categories</span>
      <div class="is-divider small"></div>
      {% assign nocategory = site.categories["No Category"] %}
      <ul>
        {% assign url = "/category/no category" | relative_url %}
        {% if nocategory.size != nil %}
        <li><a href="{{ url }}">미분류({{ nocategory.size }})</a></li>
        {% endif %}
        {% for tag in site.categories %}
        {% assign url = tag[0] | downcase %}
        {% assign url = "/category/" | append: url | relative_url %}
        {% if tag[0] != "No Category" %}
        <li><a href="{{ url }}">{{ tag[0] }}({{ tag[1].size }})</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>

<nav class="category__list">
  <ul class="category__items">
    <li>
      <span class="category__sub-title">Recent Posts</span>
      <div class="is-divider small"></div>
      <ul>
        {% for post in site.posts limit: 3 %}
          {% if post.id %}
            {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
          {% else %}
            {% assign title = post.title %}
          {% endif %}
          {% assign url = post.url | relative_url %}
          <li class="recent-posts"><a href="{{ url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>

<nav class="category__list">
  <ul class="category__items">
    <li>
      <span class="category__sub-title">Tags</span>
      <div class="is-divider small"></div>
      {% for tag in site.tags %}
      {% assign url = tag[0] | downcase %}
      {% assign url = "/tag/" | append: url | relative_url %}
      <a class="category__item" href="{{ url }}">#{{ tag[0] }}</a>
      {% endfor %}
    </li>
  </ul>
</nav>